<div class="columns" id="columns-height">
  <div class="column">
    <%= render "about" %>
    <%= render "profile" %>
    <%= render "timeline" %>
    <%= render "portfolio" %>
  </div>
</div>
<%= render "modal" %>